.reviewsContent {
    margin-top: 40px;
    display: flex;
    padding-top: 10px;
    border-top: solid 1px lightslategrey;
}

.reviewsBlock {
    display: flex;
}


.users {
    margin-right: 30px;
}

.reviews {

}

input {
    width: 500px;
    margin-right: 50px;
}