.reviewsContent {
    margin-top: 40px;
    padding-top: 10px;
    border-top: solid 1px lightslategrey;
}

.reviewsFormButton {
    display: flex;
    margin-top: 20px;
}

.reviews {
    margin-top: 40px;
    font-size: 14px;
    width: 700px;
}

.reviewBlock {
    padding: 7px 30px;
    display: flex;
    margin-bottom: 15px;
    box-shadow: 0px 0px 14px -8px black;
    border-radius: 17px;
}

.date {
    color: gray;
    text-align: end;
}

.user {
    padding-right: 40px;
}


input {
    width: 500px;
    height: 25px;
    margin-right: 50px;

}

button {
    padding: 6px 15px;
}