.reviewsContent {
    margin-top: 40px;
    padding-top: 10px;
    border-top: solid 1px lightslategrey;
}

.reviewsFormButton {
    display: flex;
    margin-top: 20px;
}

.reviews {
    margin-top: 40px;
    font-size: 14px;
    width: 700px;
}

.reviewBlock {
    display: flex;
    margin-bottom: 30px;
}

.user {
    padding-right: 40px;
}


input {
    width: 500px;
    height: 25px;
    margin-right: 50px;

}

button {
    padding: 6px 15px;
}