.container {
  width: 100%;
}
.header {
  width: 1350px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.logoText {
  width: 200px;
  display: flex;
}
.text {
  margin: 20px 0 0 15px;
}
.logo img {
  width: 60px;
  height: 65px;
  cursor: pointer;
}
.card {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 80px;
}
.cardItem1,
.cardItem2,
.cardItem3,
.cardItem4,
.cardItem5,
.cardItem6,
.cardItem7,
.cardItem8 {
  width: 265px;
  margin-top: 50px;
}
.cardImage img {
  width: 240px;
  height: 180px;
}
.tittle1 {
  font-size: 21px;
  font-weight: 600;
  cursor: pointer;
}
.tittle2,
.city span,
.address span {
  font-size: 11px;
  font-weight: lighter;
  color: gray;
  cursor: text;
}
.LogoAuth img {
  width: 60px;
  margin-left: 30px;
}
.BigImage {
  width: 1350px;
  height: 300px;
  margin: 20px auto;
  border: 1px solid black;
  text-align: center;
}
.image {
  margin-top: 150px;
}
.ClockMap {
  width: 500px;
}
.addresses img {
  width: 22px;
}
.addresses {
  margin-bottom: 10px;
}
.addresses {
  display: flex;
  align-items: center;
}
.addresses span {
  margin-left: 5px;
}
.index {
  width: 1350px;
}
.Info {
  width: 210px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.address,
.clockWork,
.numberUs {
  margin-bottom: 10px;
}
.infoBlock {
  margin-top: 10px;
}
.tittleOfMap {
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: space-around;
}
.company p {
  font-size: 15px;
}
